body{
	padding: 10px;
}
.login-form{
	padding-top: 5%;
	width: 50%;
}
.login-inputs{
	width: 50%;
	margin: 0 auto;
}
.form-table > tbody > tr > td{
	padding-right: 15px;
	padding-bottom: 5px;
	text-align: left;
}
.err{
	color: red;
}
.log{
	color: black;
}
.chat{
	color: green;
}
.whisper{
	color: gray;
}

.command-hints{
	width: 45%;
}
div.scroll{
	overflow: scroll;
}
#logdiv{
	height: 55vh;
}
.float-right{
	float: right;
}
#clientlog{
	float: right;
	width: 50%;
	height: 90vh;
}
#cmdInput{
	margin-top: 5px;
	margin-bottom: 5px;
}